<a href="https://colab.research.google.com/github/izonejangwonyoung/tensorflow_lifecode/blob/master/Tensorflow_1_10_%EB%B3%B4%EC%8A%A4%ED%84%B4%EC%A7%91%EA%B0%92%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#라이브러리 사용
import tensorflow as tf
import pandas as pd

임포트하기

In [ ]:
#과거의 데이터를 준비합니다.
파일경로='https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
보스턴=pd.read_csv(파일경로)
print(보스턴.columns)
보스턴.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
#변수 분리
독립=보스턴[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax','ptratio', 'b', 'lstat']]
종속=보스턴[[ 'medv']]
print(독립.shape,종속.shape)

(506, 13) (506, 1)

In [ ]:
#모델의 구조를 만듭니다. 
X=tf.keras.layers.Input(shape=[13])
Y=tf.keras.layers.Dense(1)(X)
model=tf.keras.models.Model(X,Y)
model.compile(loss='mse')

In [ ]:
model.fit(독립,종속,epochs=20000)

In [ ]:
#모델을 이용합니다
model.predict(독립[5:10])

array([[24.99543 ],
       [21.290878],
       [18.289095],
       [10.065599],
       [17.689898]], dtype=float32)

In [ ]:
종속[5:10]

   medv
5  28.7
6  22.9
7  27.1
8  16.5
9  18.9

In [ ]:
#모델의 수식 확인
model.get_weights()

[array([[-0.09116445],
        [ 0.04914771],
        [-0.03352947],
        [ 2.6540785 ],
        [ 0.8653479 ],
        [ 5.356209  ],
        [-0.01201225],
        [-1.0042132 ],
        [ 0.18647523],
        [-0.01093778],
        [-0.4538317 ],
        [ 0.01258694],
        [-0.4648825 ]], dtype=float32), array([4.844043], dtype=float32)]